ipykernel
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
langchain-community
langchain_huggingface
sentence-transformers
pypdf
bs4
langgraph 
langchain 
google-generativeai 
openai
faiss-cpu
streamlit
wikipedia
arxiv
langchain-mcp
mcp
langchain-mcp-adapters
llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini

